h1, h3, h5 {
    text-align: center;
}
.levelStudy, .webLanguages, .profilePicture, .commentsExpérience {
    font-weight: bold;
}
.col-8 {
    border: 0.3rem solid #AB7342;
}
.colLeft {
    border-right: 0.15rem solid #AB7342;
}
.colRight {
    border-left: 0.15rem solid #AB7342;
}
.btn {
    background-color: #AB7342;
    color: white;
    font-weight: bold;
}
.error{
    color: red;
}
input:not(:focus):not(:placeholder-shown):valid {
    border: 0.1rem solid #CED4DA;
}
input:not(:focus):not(:placeholder-shown):invalid, .invalidInput {
    border: 0.1rem solid red;
}